<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>file:///home/bcpierce/pub/index.html</string>
						<key>lastVisitedDate</key>
						<string>142308364.2</string>
						<key>title</key>
						<string>BCP</string>
					</dict>
					<key>URLString</key>
					<string>file:///home/bcpierce/pub/index.html</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>FD799B4E-4503-11D7-A1B7-000393A6C2CA</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>Children</key>
							<array>
								<dict>
									<key>URIDictionary</key>
									<dict>
										<key></key>
										<string>http://www.itn.com/</string>
										<key>title</key>
										<string>TRAVEL - Internet ...ns and Information</string>
									</dict>
									<key>URLString</key>
									<string>http://www.itn.com/</string>
									<key>WebBookmarkType</key>
									<string>WebBookmarkTypeLeaf</string>
									<key>WebBookmarkUUID</key>
									<string>FD7A0F42-4503-11D7-A1B7-000393A6C2CA</string>
								</dict>
							</array>
							<key>Title</key>
							<string>Travel</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeList</string>
							<key>WebBookmarkUUID</key>
							<string>FD7A0E1C-4503-11D7-A1B7-000393A6C2CA</string>
						</dict>
					</array>
					<key>Title</key>
					<string>General</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
					<key>WebBookmarkUUID</key>
					<string>FD7A06E5-4503-11D7-A1B7-000393A6C2CA</string>
				</dict>
			</array>
			<key>Title</key>
			<string>BookmarksBar</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
			<key>WebBookmarkUUID</key>
			<string>FD7999BE-4503-11D7-A1B7-000393A6C2CA</string>
		</dict>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://groups.yahoo.com/group/unison-users/pending</string>
						<key>title</key>
						<string>Yahoo! Groups : unison-users Pending Messages</string>
					</dict>
					<key>URLString</key>
					<string>http://groups.yahoo.com/group/unison-users/pending</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>C3DD8E06-E32B-11D9-B65A-00112471EFB8</string>
				</dict>
			</array>
			<key>Title</key>
			<string>BookmarksMenu</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
			<key>WebBookmarkUUID</key>
			<string>FD7F24E9-4503-11D7-A1B7-000393A6C2CA</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Address Book</string>
			<key>WebBookmarkIdentifier</key>
			<string>Address Book Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>4D54888C-EE46-11D9-8DE2-00112471EFB8</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Rendezvous</string>
			<key>WebBookmarkIdentifier</key>
			<string>Rendezvous Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>4D548AEC-EE46-11D9-8DE2-00112471EFB8</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>History</string>
			<key>WebBookmarkIdentifier</key>
			<string>History Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>4D548C56-EE46-11D9-8DE2-00112471EFB8</string>
		</dict>
	</array>
	<key>WebBookmarkFileVersion</key>
	<integer>1</integer>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
	<key>WebBookmarkUUID</key>
	<string>FD799649-4503-11D7-A1B7-000393A6C2CA</string>
</dict>
</plist>
